<h1>Rock, Paper, Scissors</h1>

<p>You chose: <strong><%= @player_choice.capitalize %></strong></p>
<p>Computer chose: <strong><%= @computer_choice.capitalize %></strong></p>
<p><strong><%= @result %></strong></p>

<p><a href="/rules">Play again</a></p>
