<h1>You chose Scissors!</h1>

<p>The computer chose <%= @computer_move.capitalize %>!</p>
<p><%= @outcome %></p>

<ul>
  <li><a href="/">Rules</a></li>
  <li><a href="/rock">Play Rock</a></li>
  <li><a href="/paper">Play Paper</a></li>
  <li><a href="/scissors">Play Scissors</a></li>
</ul>
